/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
    --pale-red: #E46258;
    --salmon: #FC7A72;
    --white: #F6F6F8;
    --dark-purple: #301641;
}

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  background-color: var(--white);
  color: var(--dark-purple);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

nav > header {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--dark-purple);
  border-radius: 6px;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-purple);
  font-size: 1.5rem;
  font-weight: 500;
  transition: 250ms;
  border-radius: 4px;
  display: inline-block;
  height: 100%;
  padding: 0.25rem 0.5rem;
}

.nav-link:hover {
  background-color: var(--pale-red);
  color: var(--white);
}

#app-logo {
  width: 32px;
  fill: none;
  stroke: var(--dark-purple);
}