/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
    --pale-red: #E46258;
    --red: #e74337;
    --white: #F6F6F8;
    --dark-purple: #301641;
    --dark-purple-a: #3016416b;
    --green: #0B6E4F;

}

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  background-color: var(--white);
  color: var(--dark-purple);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

nav > header {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--dark-purple);
  border-radius: 6px;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-purple);
  font-size: 1.5rem;
  font-weight: 500;
  transition: 250ms;
  border-radius: 4px;
  display: inline-block;
  height: 100%;
  padding: 0.25rem 0.5rem;
}

.nav-link:hover {
  background-color: var(--pale-red);
  color: var(--white);
}

#app-logo {
  width: 32px;
  fill: none;
  stroke: var(--dark-purple);
}

main {
  padding: 2rem;
}

#introduction {
  background-color: var(--pale-red);
  color: var(--white);
  border-radius: 6px;
  padding: 2rem 1rem;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#library {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.books-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 1rem;
}

.book-card {
  border: 2px solid var(--pale-red);
  border-radius: 6px;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 2px 2px 2px 2px var(--dark-purple);
}

.book-card-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-card-actions > button {
  display: block;
  color: var(--white);
  border: none;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  opacity: 0.9;
}

.book-card-actions > button:hover {
  opacity: 1;
}

.book-card-actions > button[value="change"]{
  background-color: var(--green);
}

.book-card-actions > button[value="remove"]{
  background-color: var(--red);
}

.add-book-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--pale-red);
  color: var(--white);
  box-shadow: 2px 2px 10px 2px var(--dark-purple);
  border-radius: 6px;
}

#read > h2, #wishlist > h2 {
  text-align: center;
}

#add-book-btn {
  display: block;
  border-radius: 6px;
  color: var(--white);
  border: 2px solid var(--white);
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  transition: 250ms;
}

#add-book-btn:hover {
  background-color: var(--white);
  color: var(--pale-red);
}

button {
  cursor: pointer;
  transition: 250ms;
}

#add-book-modal::backdrop {
  background-color: var(--dark-purple-a);
}

#add-book-modal {
  width: 35%;
  margin: auto;
  background-color: var(--white);
  border: 2px solid var(--pale-red);
  border-radius: 6px;
}

#modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close-modal {
  background-color: transparent;
  border: none;
}

.icon-sm {
  width: 32px;
  fill: none;
  stroke: var(--dark-purple);
}

#book-information > *{
  display: block;
}

#book-information > input {
  margin-bottom: 0.5rem;
}

#book-information > input:last-child {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="radio"]{
  margin-right: 0.25rem;
}

fieldset {
  border: 2px solid var(--pale-red);
}

legend {
  background-color: var(--pale-red);
  color: var(--white);
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

input:focus {
  outline: none;
  border: 2px solid var(--pale-red);
}

form > button {
  padding: 0.5rem 0;
  font-weight: 600;
  color: var(--pale-red);
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid var(--pale-red);
}

form > button:hover {
  background-color: var(--pale-red);
  color: var(--white);
}